
.button {
    width: 107px;
    height: 35px;

    margin: 0px 7px;

    border-radius: 8px;
    border: solid 2px #51367C;

    cursor: pointer;

    font-weight: bolder;
}

.whiteButton {
    color: white;
    background-color: #51367C;
}

.purpleButton {
    color: #51367C;
    background-color: white;
}