
.button {
    width: 107px;
    height: 35px;

    margin: 0px 7px;

    border-radius: 8px;
    border: solid 2px #51367C;

    cursor: pointer;

    font-weight: bolder;
    transition: 0.1s
}

.button:hover {
    scale: 1.1;
}