
.container {
    margin: 0 auto;
    /* background-color: aqua; */
    max-width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.leftMenu {

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-left: 89px;
}



.rightMenu {

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-right: 34px;
}